Lenguaje de Marcas/Unidad 1 y 2/LM_U1_T2_VALIDATING XML FILES WITH DTDTarea/ej2.dtd

<!ELEMENT lettera (#PCDATA,cliente,ordine,responsabile)>
    <!ELEMENT cliente (#PCDATA)>
    <!ELEMENT ordine (articolo+)>
        <!ATTLIST ordine num ID #REQUIRED>
        <!ELEMENT articolo (codice,descr)>
            <!ELEMENT codice (#PCDATA)>
            <!ELEMENT descr (#PCDATA)>
    <!ELEMENT responsabile (tit,#PCDATA)>
        <!ELEMENT tit (#PCDATA)>